body { background-color: #000000; font-family: "Poppins"; font-size: 100%; min-height: 100%!important;height: 100%!important;line-height: 1.44em;padding: 0px;margin: 0px;}
.white-bg { background-color: white!important; color: #000000!important;}
.black-bg { background-color: #000000!important; color: white!important;}

.breadcrumb { list-style: none; margin: 0; text-align: center;}
.breadcrumb li { display: inline-block; }
.breadcrumb a { text-decoration: none; }
.breadcrumb a:hover, .breadcrumb a:focus { text-decoration: underline; }
.breadcrumb li:after { content: ""; width: 0.5em; height: 0.5em; transform: rotate(45deg); border: 1px solid black; display: inline-block; border-left: 0; border-bottom: 0; margin: 0 0.25em; top: -0.1em; position: relative; }
.breadcrumb li:last-child:after { border: 0; }

.info { background-color: wheat;} 

.sitetitle {text-align: center;}
.sitetitle a { text-decoration: none;}
.sitetitle a:visited { color: unset;}
.sitetitle a:hover, .sitetitle a:focus { text-decoration: underline; }

.holder { position: relative; width: 1080px; max-width: 100%; margin: auto; }
.padded {padding: 1rem;}
.tallpadded {padding-top: 3em;padding-bottom: 3em;}

.elsewhere { float: right; margin-top: 0; }
.elsewhere li { display: inline-block; margin-left: 0.5em; }
.elsewhere li:first-child { margin-left: 0; }
.elsewhere li a { line-height: 0; display: block; }

footer .address { margin-top: 1em; }
footer a { color: inherit; }
footer hr.about { margin: 32px 0; border: 0; border-top:1px solid #444; }

h1, h2, h3 {margin-bottom: 1rem;}

.card {display: flex;flex-direction: column;text-decoration: none;}
.card a { color: inherit; text-decoration: none;}
a.card:hover, a.card:focus { background-color: black; transition-duration: 0.4s; color: white;}

.grid {display: grid; gap:1em; grid-template-columns: repeat(3, 1fr); padding-bottom: 2rem;}
/* .mp-wrapper {
	display: flex;
	align-items: flex-start;
	gap: 0;
  }
  
.text {
display: inline-block;
white-space: nowrap; 
}
  
.image-wrapper img {
height: auto;
object-fit: contain;
display: block;
} */
  
/* .mp-grid {
	display: grid;
	gap: 0;
	grid-template-columns: min-content auto;
	align-items: start;
	gap: var(--auto-grid-gap);
	flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;
}
.mp-grid #imageContainer {
	width: 100%;
	height: auto;
	max-width: 100%;
	object-fit: contain;
}
@media only screen and (max-width: 800px) {
	.mp-grid {
	  width: 100%;
	}
  } */
/* #imageContainer {margin-left: auto;} */
.tooltip a {
	color: inherit;
}

.economy {background-color: #F9BC25; color: black;}
.energy { background-color: #E6007C; color: white;}
.environment { background-color: #0DBC37; color: black;}
.health { background-color: #00B6FF; color: black;}
.society { background-color: #722EA5; color: white;}
.transport { background-color: #D60303; color: white;}

.series-1 .line, .data-series-1 .line {stroke: currentColor;}
.oi-legend-inner{color: inherit;}
.bigNum{margin-right: auto; font-weight: 700; font-size: xx-large; padding: 1rem 0;}

details {margin-top: auto;}

@media only screen and (max-width: 1080px) {
	.grid { grid-template-columns: 100%; }
}

@media only screen and (max-width: 800px) {
	.elsewhere { float:none; margin-left: 0; margin-bottom: 1em; }
	.doublepadded { padding: 1em; }
	h1, .title { font-size: 1.4em; text-wrap: balance; }
	header nav ul { font-size: 1em; }
}

p {
	padding-bottom: 1rem;
}

.hr--styled {
    border: none;
    height: 4px;
    margin: 20px 0;
    width: 100%;
    background: linear-gradient(to right, #F9BC25, #E6007C, #0DBC37, #00B6FF, #722EA5, #D60303);
}

.bottom { margin-bottom: 1rem;}
.centred {text-align: center;}

.mp-info {display: block;text-decoration: none;}
a.mp-info:hover, a.mpinfo:focus { background-color: black!important; transition-duration: 0.4s!important; color: white!important;}

.mp-wrapper {display: grid; grid-template-columns: repeat(2, 1fr);}
.mp-info h3:last-of-type {margin-bottom: 0;}
@media only screen and (max-width:800px) {
	.mp-wrapper {grid-template-columns: 240px;}
}
