<a href="https://constituencies.open-innovations.org{{link}}" target="_blank" class="card padded {{ theme }}">
    <h4>{{ key }}</h4>
    {{ if showSubtitle }}
        <p>{{ title }}</p>
    {{ /if }}
    <div class='bigNum'>{{ preunit }}{{ number |> humanise() }}{{ postunit }}</div>
    {{ comp.rating({key, code, theme, title})}}
    {{ if visDate }}
        <p>Updated: {{ visDate |> date("do LLL yyyy") }}</p>
    {{ /if }}
</a>