---
title: Home
---
<h3>Themes</h3>
<ul>
  {{ for page of search.pages("themes") }}
    <li><a href="{{page.url}}">{{ page.title }}</a></li>
  {{ /for }}
</ul>
<h3>Dashboard</h3>
<ul>
  {{ for page of search.pages("dashboard") }}
    <li><a href="{{page.url}}">{{ page.title }}</a></li>
  {{ /for }}
</ul>