---
css: |
    .anchor {
      display: inline;
      text-decoration: none;
      color: inherit;
      opacity: 0.1;
      margin-left: 0.25em;
    }
    .anchor:focus {
      outline: 2px solid #2254F4;
      opacity: 1;
    }
    .anchor svg {
      width: 1em;
      height: 1em;
      vertical-align: bottom;
    }
    h3:hover .anchor { opacity: 1; }
---

<a class="anchor" id="{{ anchor || "" }}" href="#{{ anchor || "" }}" data-dependencies="/assets/js/section-links.js">§</a>