<div class='mp-grid bottom'>
    <a href="{{mpData['TheyWorkForYou URI']}}" target="_blank" class='mpinfo padded' style='background-color:{{mpData['Party bg']}};color:{{mpData['Party fg']}}'>
        <h2>{{mpData.MP}} MP</h2>
        <h3>Party: {{ mpData['Party name'] }}</h3>
        <h3>Start date: {{ mpData['Start date'].split('T')[0] }}</h3>
    </a>
    <div id='imageContainer'></div>
</div>