{{# Check if the visualisation name exists #}}
{{ if key in ranked_constituencies[code][theme] }}
	{{ if title in ranked_constituencies[code][theme][key] }}
		{{ set rankKey = ranked_constituencies[code][theme][key][title] }}
	{{ /if }}
    {{ if theme in rankIndicator && key in rankIndicator[theme] && title in rankIndicator[theme][key] }}
		<p>Relative rating{{if t}} - {{title}}{{/if}}: {{ rankKey['p'], rankIndicator[theme][key][title] |> rating() }}</p>
	{{ /if }}
{{ /if }}	